.header1 {
    color: #5a5a5a;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    margin-bottom: 18px;
  }
  
  .cont1 {
    padding: 12px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
  }