.test {
  background-color: red;
  font-size: small;
  /* size: ; */
  justify-content: space-around;
  cursor: auto;
  flex-wrap: wrap;
}
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
