.test {
  background-color: rgb(255, 255, 255, 0.5);
  font-size: small;
  /* size: ; */
  justify-content: center;
  align-items: center;
  cursor: auto;
  flex-wrap: wrap;
  text-align: center;
}
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
