.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avat {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border: 1px solid #afafaf;
    border-radius: 58px;
    margin-right: 15px;
}